*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  background: white;
  width: 34rem;
  height: 4rem;
  padding: 2rem;
  margin-top: -11rem;
  border-radius: 3rem;  
}